<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>个人中心</title>

		<link href="__INDEX__/css-2/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="__INDEX__/css-2/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
		<link href="__INDEX__/css-2/css/personal.css" rel="stylesheet" type="text/css">
		<link href="__INDEX__/css-2/css/vipstyle.css" rel="stylesheet" type="text/css">
		<script src="__INDEX__/css-2/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
		<script src="__INDEX__/css-2/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
		<style>
			  
			span{
				font-weight: bold;
			}
		</style>
	</head>

	<body>
		<!--头 -->
		<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">
					<div class="wrap-left">
						<div class="wrap-list">
							<div class="m-user">
								<!--个人信息 -->

								<div class="m-userinfo">
									<a href="news.html">
										<div class="tipsBox"><i class="am-icon-envelope"></i></div>
									</a>
									<div class="m-baseinfo">
										<a class="m-pic" href="information.html">
											<img src="http://www.tp5.com/blog/public/uploads/{$blog_user_data.blog_user_pic}" alt="sd">
										</a>
										<div class="m-info">
											<em class="s-name">小叮当</em>
											<div class="vip1"><a href="#"><span></span><em>会员专享</em></a></div>
											<div class="safeText"><a href="safety.html">账户安全:<em style="margin-left:20px ;">60</em>分</a>
												<div class="progressBar"><span style="left: -95px;" class="progress"></span></div>
											</div>
											
										</div>
									</div>
									
								</div>

								<!--个人资产-->
								<div class="m-userproperty">
									<p class="m-coupon">
										<a href="{:url('Index/index')}">
											<em class="m-num">1</em>
											<span class="m-title">首页</span>
										</a>
									</p>

									<div class="s-bar">
										<i class="s-icon"></i>个人资料
									</div>
									<p class="m-coupon">
										<a href="{:url('Personalcenter/information')}">
											<em class="m-num">2</em>
											<span class="m-title">用户资料添加</span>
										</a>
									</p>
									<p class="m-coupon">
										<a href="{:url('Personalcenter/address')}">
											<em class="m-num">3</em>
											<span class="m-title">联系地址</span>
											
										</a>
									</p>
								
								</div>

								<!--我的钱包-->
												

							</div>
							<div class="box-container-bottom"></div>

							<!--订单 -->
								<div class="orderContentBox">
									<div class="orderContent">
										<div class="orderContentpic">
											<div class="imgBox">
												<a href="orderinfo.html"><img src="http://www.tp5.com/blog/public/uploads/{$blog_user_data.blog_user_pic}"></a>
											</div>
										</div>
										{if condition="$blog_user_data.blog_user_id eq null"}
												echo '请<a href="information" style="color: red;font-weight: bold;font-size: 20px">点击</a>添加用户信息'
										{else/}
										<div class="detailContent">
											<div class="orderID">

												注册时间：<span class="time">{$blog_user_data.blog_create_time}</span>
												<span class="splitBorder">|</span>
											</div>
											<div class="orderID">
												昵称：<span class="num">{$blog_user_data.blog_user_nikename}</span>
											</div>
											<div class="orderID">
												性别：<span class="num">{$blog_user_data.sex}</span>
											</div>
											<div class="orderID">
												生日：<span class="num">{$blog_user_data.blog_user_birthday}</span>
											</div>
											<div class="orderID">
												电话：<span class="num">{$blog_user_data.blog_user_phone}</span>
											</div>
											<div class="orderID">
												电子邮箱：<span class="num">{$blog_user_data.blog_user_email}</span>
											</div>
										</div>
										{/if}
									</div>
								</div>				
							<!--九宫格-->
							

							

						</div>
					</div>
					<div class="wrap-right">
				
					
										
     				</div>
     				<div class="clear"></div>
     				
     				<!--收藏和足迹-->
     				 <div data-am-widget="tabs" class="am-tabs collection">
                        
                     </div>


				</div>
				<!--底部-->
				

			</div>

			<aside class="menu">
				<ul>
					<p class="m-coupon">
						<a href="{:url('Index/index')}">
							<span class="m-title">首页</span>
						</a>
					</p>
					<li class="">
						<a href="{:url('Personalcenter/personalcenter')}"><i class="am-icon-user"></i>个人中心</a>
					</li>
					<li class="person">
						<p><i class="am-icon-newspaper-o"></i>个人资料</p>
						<ul>
						{if condition="$blog_user_data.blog_user_id eq null"}
							<li> <a href="{:url('Personalcenter/information')}">用户资料添加</a></li>
						{else/}
							<li> <a href="{:url('Personalcenter/information_edit')}">用户资料修改</a></li>
						{/if}	
							<li> <a href="{:url('Personalcenter/address')}">地址管理</a></li>
						</ul>
					</li>
					

					
				</ul>

			</aside>
		</div>
		<!--引导 -->
		<div class="navCir">
			<li><a href="{:url('Index/index')}"><i class="am-icon-home "></i>首页</a></li>
			<li><a href="{:url('Personalcenter/address')}"><i class="am-icon-home "></i>用户地址</a></li>

			<li class="active"><a href="{:url('Personalcenter/personalcenter')}"><i class="am-icon-user"></i>我的</a></li>
		</div>
	</body>

</html>