<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <title>土锤后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="images/x-icon" href="favicon.ico"/>
    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Oxygen|Marck+Script" rel="stylesheet" type="text/css">
    <link href="__ADMIN__/css/bootstrap.css" rel="stylesheet">
    <link href="__ADMIN__/css/font-awesome.css" rel="stylesheet">
    <link href="__ADMIN__/css/admin.css" rel="stylesheet">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>    
<body>

<div class="container">
		
	{include file="common/header"}


	
	<div class="main-area dashboard">
	
			<div class="alert alert-info">
				<a class="close" data-dismiss="alert" href="#">x</a>
				<h4 class="alert-heading">信息</h4>
				内容模板提供了通用文本内容格式的示例
			</div>
			
			<div class="row">
				
				<div class="span10">
				
					<div class="slate">
						
						<div class="page-header">
							<h1>{$result.blog_art_name}</h1>
						</div>
						<p>{$result.blog_art_desc}</p>
						
						<p>{$result.blog_art_author}</p>
						<img src="http:\\www.tp5.com/blog/public/uploads/{$result.blog_art_pic}" width="50%" height="530px" alt="qwefwef">
						<ul>
							<li>{$result.blog_art_content}</li>
						</ul>
						<p>所属栏目: <span>{$result.category_name}</span></p>


						<p>创建时间: <span>{$result.blog_art_time}</span></p>
						
					</div>
				
				</div>
				
			</div>
			
		<div class="row">
		
			<div class="span10 footer">
			
					<p>&copy; www.scwangyi.xyz 2018</p>
			
			</div>
		
		</div>
		
	</div>
	
	</div> <!-- end span10 -->
		
	</div> <!-- end row -->
		
</div> <!-- end container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="__ADMIN__/js/jquery.min.js"></script>
<script src="__ADMIN__/js/bootstrap.js"></script>



</body>
</html>